<h2><%= @user.name.present? ? @user.name : @user.email %> 様</h2>
<p>パスワード再設定のリクエストを受け付けました。</p>

<p>下記リンクよりパスワードを再設定して下さい。</p>
<p><%= link_to 'パスワードを再設定する', @url %></p>

<p>このリンクの有効期限は24時間です。</p>
<p>心当たりがない場合は、このメールを無視して下さい。</p>
