<h3>予定をお知らせします。</h3>

<ul>
  <% @schedules.each do |schedule| %>
    <li>予定日　　：<%= schedule.next_notification.to_date.strftime('%Y/%-m/%-d') %></li>
    <li>次回予定日：<%= schedule.after_next_notification.to_date.strftime('%Y/%-m/%-d') %></li>
  <% end %>
</ul>

<p><a href="<%= @magic_link %>">予定編集はこちら</a></p>
