<div class="container">
  <div class="border">
    <%= render 'shared/schedule_form' %>
  </div>
</div>

<br>

<%= render partial: 'shared/schedule_table', locals: {schedules: @schedules, type: :normal} %>

<br>

<% if @schedules_archived.present? %>
  <%= render partial: 'shared/schedule_table', locals: {schedules: @schedules_archived, type: :archived} %>
<% end %>

<br><br><br><br><br>
