<footer class="footer">
  <div class="footer_content">
    <h3>
      <div id="footer_title">予定通知アプリ</div>
    </h3>

    <p><%= link_to '利用規約・プライバシーポリシー', "#" %></p>

    <p>&copy; 2025 TANAKA Genki</p>
  </div>
</footer>