<h1>予定通知アプリ</h1>
<div class="login_form">
  <p>メールアドレス</p>
  <p>パスワード</p>
  <%= link_to 'ログイン', "#" %>
</div>

<br>

<div class="signin_form">
  <p>アカウント作成はこちら</p>
  <%= link_to 'アカウント作成', new_registration_path %>
</div>
